@charset "utf-8";
/* CSS Document */

body {
	width:520px;
	margin:0;
	height:600px;
}
.container {
	width:520px;
	margin:50px auto 0 auto;
}
#weather_condition {
margin-top: -43px;
width: 520px;
height: 560px;
}
.select_country {
	margin-bottom:5px;
	position: relative;
	overflow: hidden;
	margin-right: 52px;
}
.select_country label {
	float: right;
	font-size: 14px;
color: white;
font-family: Arial;
margin-left: 15px;
margin-top: 7px;
font-weight: bold;
	
}
.select_country select {
	float: right;
	font-size: 13px;
	color: #5b5b5b;
	font-family: "segoe ui", Tahoma;
	margin-left: 15px;
	width: 90px;
	padding: 4px 1px;
	height: 30px;
}
.wrapper {
	width:520px;
	height:513px;
	clear:both;
	padding-top:47px;
}
.mornning  {
	background:url(images/sunny.jpg);
}
.sunset {
	background:url(images/sunset.jpg);
}
.night{
	background:url(images/night.jpg);
}
.weather-result {
	background:url(images/transparent.png);
	width:393px;
	height:460px;
	margin:0 auto;
	padding:20px 12px 0 12px;
	position: relative;
}
.weather-states {
	width:161px;
	height:149px;
	float:left;
}
.view {
	text-align:center;
	width:230px;
	color:#fff;
	font-family:"Myriad Pro", tahoma;
	font-size:42px;
	float:left;
}
.weather_states_title {
	float:left;
	width:161px;
	margin-top:5px;
	font-family:"Myriad Pro", tahoma;
	font-size:42px;
	color:#fff;
	clear:left;
	text-align:center;
}
.weather_staticses {
	width:230px;
	float:left;
	font-family:"Segoe UI", tahoma;
	font-size:18px;
	color:#fff;
	margin-top:10px;
}
.weather_staticses_1 {
	float:left;
	width:110px;
	margin-left:15px;
}
.weather_staticses_2 {
	float:left;
	width:105px;
}
.weather-table {
	width:392px;
	clear:both;
	font-family:"Myriad Pro", tahoma;
	color:#fff;
	text-align:center;
	position: absolute;
bottom: 9px;
}
.day {
	font-size:26px;
}
.temp {
	font-family:"Segoe UI", tahoma;
	font-size:18px;
}
/*******************************/
.wsymbol_0028_heavy_snow_showers_night  .weather-states{
	background:url(images/icons/wsymbol_0028_heavy_snow_showers_night.png);
}
.wsymbol_0016_thundery_showers .weather-states{
	background:url(images/icons/wsymbol_0016_thundery_showers.png);
}
.wsymbol_0032_thundery_showers_night .weather-states{
	background:url(images/icons/wsymbol_0032_thundery_showers_night.png);
}
.wsymbol_0024_thunderstorms .weather-states , .wsymbol_0040_thunderstorms_night .weather-states{
 background:url(images/icons/wsymbol_0024_thunderstorms.png);
}
.wsymbol_0021_cloudy_with_sleet .weather-states, .wsymbol_0037_cloudy_with_sleet_night .weather-states{
	background:url(images/icons/wsymbol_0021_cloudy_with_sleet.png);
}
.wsymbol_0013_sleet_showers .weather-states{
	background:url(images/icons/wsymbol_0013_sleet_showers.png);
}
.wsymbol_0029_sleet_showers_night .weather-states{
	background:url(images/icons/wsymbol_0029_sleet_showers_night.png);
}
.wsymbol_0011_light_snow_showers .weather-states{
	background:url(images/icons/wsymbol_0011_light_snow_showers.png);
}
.wsymbol_0027_light_snow_showers_night .weather-states{
	background:url(images/icons/wsymbol_0027_light_snow_showers_night.png);
}
.wsymbol_0018_cloudy_with_heavy_rain .weather-states, .wsymbol_0034_cloudy_with_heavy_rain_night .weather-states{
	background:url(images/icons/wsymbol_0018_cloudy_with_heavy_rain.png);
}
.wsymbol_0010_heavy_rain_showers .weather-states{
	background:url(images/icons/wsymbol_0010_heavy_rain_showers.png);
}
.wsymbol_0026_heavy_rain_showers_night .weather-states{
	background:url(images/icons/wsymbol_0026_heavy_rain_showers_night.png);
}
.wsymbol_0020_cloudy_with_heavy_snow .weather-states, .wsymbol_0036_cloudy_with_heavy_snow_night .weather-states{
	background:url(images/icons/wsymbol_0020_cloudy_with_heavy_snow.png)
}
.wsymbol_0017_cloudy_with_light_rain .weather-states, .wsymbol_0033_cloudy_with_light_rain_night .weather-states{
	background:url(images/icons/wsymbol_0017_cloudy_with_light_rain.png);
}
.wsymbol_0009_light_rain_showers .weather-states{
	background:url(images/icons/wsymbol_0009_light_rain_showers.png);
}
.wsymbol_0025_light_rain_showers_night .weather-states{
	background:url(images/icons/wsymbol_0025_light_rain_showers_night.png);
}
.wsymbol_0007_fog .weather-states{
	background:url(images/icons/wsymbol_0007_fog.png);
}
.wsymbol_0019_cloudy_with_light_snow .weather-states, .wsymbol_0035_cloudy_with_light_snow_night .weather-states{
	background:url(images/icons/wsymbol_0019_cloudy_with_light_snow.png);
}
.wsymbol_0006_mist .weather-states{
	background:url(images/icons/wsymbol_0006_mist.png);
}
.wsymbol_0004_black_low_cloud .weather-states{
	background:url(images/icons/wsymbol_0004_black_low_cloud.png);
}
.wsymbol_0003_white_cloud .weather-states, .wsymbol_0004_black_low_cloud .weather-states{
	background:url(images/icons/wsymbol_0003_white_cloud.png);
}
.wsymbol_0002_sunny_intervals .weather-states{
	background:url(images/icons/wsymbol_0002_sunny_intervals.png);
}
.wsymbol_0001_sunny .weather-states{
	background:url(images/icons/wsymbol_0001_sunny.png);
}
.wsymbol_0008_clear_sky_night .weather-states{
	background:url(images/icons/wsymbol_0008_clear_sky_night.png);
}
/******************************************************/
.wsymbol_0028_heavy_snow_showers_night , .wsymbol_0032_thundery_showers_night ,
.wsymbol_0040_thunderstorms_night ,
.wsymbol_0037_cloudy_with_sleet_night ,
.wsymbol_0029_sleet_showers_night , .wsymbol_0027_light_snow_showers_night , .wsymbol_0034_cloudy_with_heavy_rain_night 
, .wsymbol_0026_heavy_rain_showers_night ,
.wsymbol_0036_cloudy_with_heavy_snow_night ,
.wsymbol_0006_mist,
.wsymbol_0033_cloudy_with_light_rain_night ,
.wsymbol_0025_light_rain_showers_night ,
.wsymbol_0035_cloudy_with_light_snow_night,
.wsymbol_0004_black_low_cloud,.wsymbol_0008_clear_sky_night
{
	background:url(images/night.jpg);
}
.wsymbol_0016_thundery_showers ,
.wsymbol_0024_thunderstorms ,
.wsymbol_0021_cloudy_with_sleet  ,  .wsymbol_0010_heavy_rain_showers, .wsymbol_0013_sleet_showers ,
.wsymbol_0011_light_snow_showers ,
.wsymbol_0018_cloudy_with_heavy_rain ,
.wsymbol_0020_cloudy_with_heavy_snow , .wsymbol_0019_cloudy_with_light_snow, .wsymbol_0009_light_rain_showers ,
.wsymbol_0017_cloudy_with_light_rain ,
.wsymbol_0006_mist ,.wsymbol_0007_fog,
.wsymbol_0003_white_cloud ,.wsymbol_0002_sunny_intervals ,.wsymbol_0001_sunny
{
	background:url(images/sunny.jpg);
}
 

 .loading {
 background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y9/r/jKEcVPZFk-2.gif) no-repeat center ;
 height:315px;
 }